.env
.venv/
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

TEST_DATABASE.json
TEST_DATABASE_2.json
TEST_DATABASE_2_WRONG.json
reprocessed_section_chunks/
reprocessed_section_chunks_2/
reprocessed_section_chunks_3/