.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

*.pdf
*.csv
*.json
*.env
*.html
*.txt
*.db
*.log
*.json.partial

/Verified_Logs/
/NASA_Technical_Server/
/chatBot/keys.py
/chatBot/vector_indices

/OpenAI+Llama/private_key.py
/../temp_skipped_chunks
skipped_filed_chunking.log
../section_chunking_DONE.log
/temp_skipped/
/temp_skipped_chunks/